<?xml version="1.0"?>
<config>
    <modules>
        <Joiim_GroupChat>
            <version>1.0.1</version>
        </Joiim_GroupChat>
    </modules>
    <global>
        <blocks>
            <joiim_groupchat>
                <class>Joiim_GroupChat_Block</class>
            </joiim_groupchat>
            <page>
                <rewrite>
                    <html_head>Joiim_GroupChat_Block_Html_Head</html_head>
                </rewrite>
            </page>
        </blocks>
        <helpers>
			<groupchat>
				<class>Joiim_GroupChat_Helper</class>
			</groupchat>
		</helpers>  
    </global>
    <frontend>
        <layout>
            <updates>
                <joiim_groupchat>
                    <file>joiim.xml</file>
                </joiim_groupchat>
            </updates>
        </layout>
    </frontend>
    <adminhtml>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <joiimsettings>
                                            <title>Joi.IM Settings</title>
                                        </joiimsettings>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
    <default>
		<joiimsettings>
			<joiimstorevalues>                
				<enabled>0</enabled>
				<debug>0</debug>         
				<site_id>0</site_id>
			</joiimstorevalues>      
		</joiimsettings>
	</default>
</config>
